[data-component='canvas'] {
  width: 99%;
  height: 99%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  & > * {
    box-sizing: border-box;
  }
  & .debug {
    display: none;
    & > span {
      display: block;
      font-weight: bold;
    }
  }
  & canvas {}
  & .toggle-controls {
    position: absolute;
    right: 1em;
    top: 1em;
    border: 0;
    padding: .5em 1em;
    margin: 0;
    outline: 0;
  }
  & .wrapper {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    & > div {
      display: flex;
    }
  }
  & .particles {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100vw;
  }
  & .controls {
    width: 20vw;
    padding: 1em;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20vw;
    height: auto;
    background-color: #222;

    & button {
      outline: 0;
      border: 1px solid purple;
      padding: .5em 1em;
      margin-bottom: .5em;
      text-shadow: none;
      background-color: violet;
      transition: background-color .5s ease;
      cursor: pointer;
      &:hover {
        background-color: purple;
      }
    }
  }
  & .slider {
    & > input {
      display: block;
      width: 100%;
    }
  }
}
